/** Begin reset */
  * {
    margin  : 0;
    padding : 0;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
  }
  h1,h2,h3,h4,h5,h6,p { margin-bottom : 6pt; }
  ol,ul,dl { list-style-position : inside; }
/** End reset */

/*
variables
*/
// @dir: '../assets/';
@dir: '../build/';
@images: '@{dir}images/';

.bg-img(@img) {
  background: url('@{images}@{img}') no-repeat;
}

#container {
  .bg-img('background.jpg');
  position: relative;
  margin: 0 auto;
  width: 885px;
  height: 458px;
  &.slots-loading {
    &:after {
      position: absolute;
      top: 50%;
      left: 25%;
      font-size: 25px;
      color: #F1BA48;
      content: 'Loading...';
      text-shadow: -2px 2px 3px #000;
    }
  }
}

#logo {
  .bg-img('rango-logo.png');
  position: absolute;
  left: 143px;
  width: 226px;
  height: 102px;
  z-index: 4;
}

#rango {
  .bg-img('rango.png');
  position: absolute;
  top: 59px;
  left: 430px;
  width: 218px;
  height: 371px;
  z-index: 4;
}

#register {
  .bg-img('register.png');
  position: absolute;
  width: 200px;
  height: 52px;
  border: none;
  left: 615px;
  top: 130px;
  z-index: 2;
  &:hover {
    .bg-img('register-hover.png');
  }
}

.win {
  // .bg-img('rango-win.gif');
  position: absolute;
  top: -458px;
  width: 549px;
  height: 458px;
  opacity: 0;
  z-index: 3;
  div {
    display: none;
    position: absolute;
    top: 115px;
    left: 90px;
    width: 330px;
    height: 250px;
    a {
      .bg-img('register-now-button.png');
      display: block;
      position: absolute;
      width: 177px;
      height: 30px;
      animation: fadein 1.5s infinite;
      -webkit-animation: fadein 1.5s infinite;
    }
  }
  &#win-minor {
    div {
      .bg-img('win10.png');
      a {
        top: 74px;
        left: 120px;
      }
    }
  }
  &#win-major {
    div {
      .bg-img('win250.png');
      a {
        top: 100px;
        left: 163px;
      }
      span {
        color: #fff;
        font-size: 35px;
        display: block;
        position: absolute;
        top: 207px;
        left: 69px;
      }
    }
  }
}

.slots-wrapper {
  .slots {
    position: relative;
    top: 34px;
    left: 12px;
    z-index: 1;
    ul {
      li {
        img {
          margin-top: 4px;
        }
      }
    }
    .slots-winning-line {
      background: url('@{images}win-line-1px.png') repeat-x;
    }
  }

  .slots-jackpot {
    color: #fff;
    font-size: 25px;
    position: relative;
    top: 10px;
    left: 380px;
    width: 178px;
    height: 35px;
  }

  .slots-status-display {
    .bg-img('sign-wood.png');
    color: #F1BA48;
    position: relative;
    top: 26px;
    left: 80px;
    width: 356px;
    height: 82px;
    text-align: center;
    padding: 5px;
    text-transform: capitalize;
    text-shadow: -2px 2px 3px #000;
    z-index: 2;
    span {
      width: 345px;
      height: 77px;
      &.slots-status-start {
        .bg-img('click-spin.png');
      }
      &.slots-status-try-again {
        .bg-img('bad-luck.png');
      }
    }
  }

  button {
    .bg-img('spin.png');
    position: relative;
    bottom: 89px;
    left: 496px;
    width: 135px;
    height: 118px;
    z-index: 5;
    &:not(:disabled) {
      animation: pulsing 1s infinite;
      -webkit-animation: pulsing 1s infinite;
    }
  }

}

@keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes pulsing {
  0% { transform: scale(1, 1); }
  50% { transform: scale(0.8, 0.8); }
  100% { transform: scale(1, 1); }
}

@-webkit-keyframes pulsing {
  0% { -webkit-transform: scale(1, 1); }
  50% { -webkit-transform: scale(0.8, 0.8); }
  100% { -webkit-transform: scale(1, 1); }
}